{% extends 'index.html' %}
{% load humanize %}
{% load static %}

{% block title %}
{{company.name}} ({{company.ticker}}) - 
{% endblock %}

{% block content %}

<section class="section">
    <div class="container-fluid bg-white rounded-2 shadow-sm py-3 mb-3 overflow-hidden" id="container-top">
        <div class="row justify-content-between align-items-end">
            <div class="col-md-2">
                <div class="pagetitle text-nowrap">
                    <h1>{{ company.name }}  <span class="fw-normal">({{ company.ticker }})</span></h1>
                    <nav>
                    <ol class="breadcrumb pt-2">
                        {% if period_status == 'year' %}
                        <li class="breadcrumb-item active"><a href="{% url 'base:company' company.ticker %}?period=year">Yearly</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'base:company' company.ticker %}?period=quarter">Quarterly</a></li>
                        {% else %}
                        <li class="breadcrumb-item"><a href="{% url 'base:company' company.ticker %}?period=year">Yearly</a></li>
                        <li class="breadcrumb-item active"><a href="{% url 'base:company' company.ticker %}?period=quarter">Quarterly</a></li>            
                        {% endif %}
                    </ol>
                    </nav>
                </div><!-- End Page Title -->
            </div>
    
            <div class="col-sm-2 d-flex justify-content-end me-3">
                <a href="{% url 'base:company-csv' company.ticker %}" class="btn btn-secondary btn-sm">
                    <div class="d-flex align-items-center justify-content-center">
                        <i class="bi bi-cloud-download"></i><span class="button--text">CSV</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>


<section class="section collapse" id="bar-chart">
    <div class="card-body px-0">
        <div class="container-fuid shadow-sm p-2 rounded-2 bg-white">
            <div class="container d-flex justify-content-center">
                <button type="button" class="btn btn-outline-secondary btn-sm" onclick="closeChart()">Close Chart</button>
            </div>
            <h5 class="card-title pt-0" id="chart-title"> </h5>

            <!-- Line Chart -->
            <canvas id="barChart" style="max-height: 350px;"></canvas>
            <!-- End Line CHart -->

      </div>
    </div>
</section>

<!-- Table Controls -->
<section class="section parameters-section">
    <div class="container-fluid bg-white rounded-2 shadow-sm py-3 mb-3 overflow-hidden">
        <div class="row">
            <div class="col slider__column d-flex align-items-center">
                <div class="container__slider">
                    <div class="slider">
                        <div class="progress"></div>
                        <div class="slider__tooltip min-value">
                            <div class="label__range">50</div>
                        </div>
                        <div class="slider__tooltip max-value">
                            <div class="label__range">50</div>
                        </div>
                    </div>
                    <div class="range-input">
                        <input type="range" class="range-min" min="0" max="10" value="0">
                        <input type="range" class="range-max" min="0" max="10" value="10">
                    </div>
                </div>
            </div>
            <div class="col units__column">
                <div class="d-flex justify-content-center align-items-center">
                    <small class="me-2 control__label">Units:</small>
                    <div class="d-flex justify-content-between">
                        <button class="btn w-50 btn-rounding selected__unit" id="roundToK">K</button>
                        <button class="btn w-50 btn-rounding" id="roundToM">M</button>
                        <button class="btn w-50 btn-rounding" id="roundToB">B</button>
                    </div>
               </div>
            </div>
        </div>
       
    </div>
</section>

<section class="section financial-table-section">
    <div class="container-fuid bg-white shadow-sm rounded-2 overflow-hidden">
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead>
         
                <tr class="table-secondary">
                    {% for header in table_headers %}
                    <th scope="col" class="text-center text-nowrap table-header">{{header}}</th>
                    {% endfor %}
                </tr>
                
                </thead>
                <tbody class="table-financials">
    
                {% for key,clean_header in classification.items %}
                <tr>
                    <th scope="row" class="text-nowrap ps-2"><span id="table_first_col">{{ clean_header }}</span></th>
                    
                    {% for val in data|get_item:key %}
                    <td class="col-md-1 text-end px-2 table-values">{{val |floatformat:0| intcomma}}</td>
                    {% endfor %}
        
                </tr>
                {% endfor %}
    
            </tbody>
            </table>
        </div>
    </div>
</section>


<script src="{% static 'assets/js/company_scripts.js'%}"></script>
{% endblock %}