{% extends 'index.html' %}
{% load static %}

{% block title %}
Leaderboards - 
{% endblock %}

{% block content %}

<div class="pagetitle mb-3">
    <h1>Leaderboards</h1>
</div>

<section class="section leaderboards">
    <!-- Controls -->
    <div class="card">
        <div class="card-body pt-3 pb-0 d-flex justify-content-center">
            <div class="row d-flex">
                <!-- year selection -->
                <div class="col">
                    <div class="d-flex justify-content-center align-items-center pb-3">
                        <small class="me-2 control__label">Year:</small>
                        <select name="year_selection" id="year__selection" class="form-select">
                            <option selected value="2022">2022</option>
                            <option value="2021">2021</option>
                        </select>
                    </div>
                </div>
                
                <!-- quarter buttons -->
                <div class="col units__column d-flex align-items-center">
                    <div class="d-flex justify-content-center align-items-center pb-3">
                        <small class="me-2 control__label">Quarter:</small>
                        <div class="d-flex justify-content-between quarter__selection">
                            <button class="btn w-50 btn-rounding" id="period_q1" value="Q1">Q1</button>
                            <button class="btn w-50 btn-rounding" id="period_q2" value="Q2">Q2</button>
                            <button class="btn w-50 btn-rounding" id="period_q3" value="Q3">Q3</button>
                            <button class="btn w-50 btn-rounding selected__unit" id="period_q4" value="Q4">Q4</button>
                        </div>
                   </div>
                </div>

                <!-- industry selection -->
                <div class="col">
                    <div class="d-flex justify-content-center align-items-center pb-3">
                        <small class="me-2 control__label">Industry:</small>
                        <select name="industry_selection" id="industry__selection" class="form-select">
                            <option selected value="Services">Services</option>
                            <option value="Financials">Financials</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Graphs/Charts -->
    <h2 class="mb-2 industry__title">Services</h2>
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Top 10 - Total Assets</div>
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border text-secondary spinner__chartloader" role="status">
                            <span class="visually-hidden">Loading...</span>
                          </div>
                    </div>
                    <canvas id="barChart_totalAssets" style="max-height: 350px;"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Top 10 - Net Income</div>
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border text-secondary spinner__chartloader" role="status">
                            <span class="visually-hidden">Loading...</span>
                          </div>
                    </div>
                    <canvas id="barChart_netIncome" style="max-height: 350px;"></canvas>
                </div>
            </div>
        </div>

    </div>
    

</section>


{% endblock %}

{% block page_scripts %}
<script>
    document.querySelector('#leaderboards-side-nav').classList.remove('collapsed')
</script>

<script src="{% static 'assets/js/leaderboards.js'%}"></script>
{% endblock %}
